.funny-glasses{
    position: relative;
    bottom: 108px;
    left: 210px;
}

.bandana{
    position: absolute;
    top: 181px;
}

.pawprint{
    position: fixed;
    top: 50px;
}
.luna{
    position: sticky;
}
.top-hat{
z-index: 1;
}